.img-res {
  width: 16px;
  height: 16px;
  margin: 0px 5px;
}
.count-group {
  margin-left: 100px;
  font-size: 20px;
}
.full-width {
  position: fixed;
  width: 100%;
  bottom: -4px;
  z-index: 1000;
}
.order-text {
  font-size: 15px;
  margin: 0px !important;
}
