<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Create Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input [(ngModel)]="firstname" required type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input [(ngModel)]="lastname" required type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Phone<ion-text color="danger">*</ion-text></ion-label>
          <ion-input [(ngModel)]="phone" required type="tel"></ion-input>
        </ion-item>

        <ng-container *ngIf="this.RegisterParameter == true">
        <ion-item>
          <ion-label position="stacked">E-mail<ion-text color="danger">*</ion-text></ion-label>
          <ion-input [(ngModel)]="user.email" required type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
          <ion-input [(ngModel)]="user.password" required type="password"></ion-input>
        </ion-item>
      </ng-container>

      </ion-list>


      <div class="ion-padding">
        <ng-container *ngIf="this.RegisterParameter == true ; else elsephoto">
      
          
        <ion-button expand="block" (click)="checkregister()"  color="success" type="submit" class="ion-no-margin">Create account</ion-button>
      
      </ng-container>
      <ng-template #elsephoto>
        <ion-button expand="block" (click)="checkupdate()"  color="success" type="submit" class="ion-no-margin">Update</ion-button>

      </ng-template>

      </div>

      <ion-item>
        <ion-button slot="end" expand="block" (click)="closeModal()" color="secondary">Cancel</ion-button>
      </ion-item>
      
  </ion-content>
</ion-app>