<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Select a location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card button (click)="inputaddress(item?.id,item?.name,item?.address.address_line_1,item?.address.address_line_2,item?.address.locality,item?.address.administrative_district_level_1)" *ngFor="let item of locationdetail ; let i = index">
    <ion-card-header>
      <ion-card-title>{{item?.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{item?.address.address_line_1}} 

      {{item?.address.address_line_2}}
      
      , {{item?.address.locality}} - {{item?.address.administrative_district_level_1}}
    </ion-card-content>
    </ion-card>


</ion-content>
